@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article style="background-color:gold; border:6px groove yellow;">
    <p style="margin:10px;">We also have a reality youtube show about the life of our HUND'S.</p>
    <img src="~/Content/houndhouse.jpg" alt="HUND HOUSE" style="width:80%;outline:5px cornflowerblue solid; margin: 10px;" />
    <p style="margin:10px;">This is where we film and our HUND'S live.  Its very nice you jelly dude.</p>
    <br />
    <img src="~/Content/kam.jpg" alt="owner and dog" style="width:80%;outline:5px cornflowerblue solid; margin: 10px;" />
    <p style="margin:10px;">This is the owner of the website and a wonderful dog named Holly.</p>
</article>