@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article style="background-color:aqua; border:solid 6px gold;">
    <p style="margin:6px;">
        If you need any help you can contact us:<br />
        <address style="margin:6px;">
            Location<br />
            Traverse City Michigan<br />
            Phone<br />
            (231)-357-3333<br />
            Email<br />
            kameronr@kamr.com<br />
        </address>
    </p>
</article>