@{
    ViewBag.Title = "Who Let Der Hund Out";
}

<div class="jumbotron">
    <h1>Welcome to a friendly site about Dog's.</h1>
    <p class="lead">Dog's are great creatures.  They can bring so much happiness while doing so little.  This website is to be used as a doggy social media.</p>
    <p><img src="~/Content/strongdog.jpg" alt="Strong Doggy" style="align-items:center;width:80%;outline:6px Gold solid;" /></p>
    <p>You can also appreciate dog's through this site.</p>
</div>
